KINDE_CLIENT_ID=
KINDE_CLIENT_SECRET=
KINDE_ISSUER_URL=

NEXT_PUBLIC_KINDE_CONNECTION_ID_EMAIL=
NEXT_PUBLIC_KINDE_CONNECTION_ID_GOOGLE=

KINDE_SITE_URL=
KINDE_POST_LOGOUT_REDIRECT_URL=
KINDE_POST_LOGIN_REDIRECT_URL=
